* {
  font-family: "Open Sans";
  color: #393939;
  box-sizing: border-box;
}
h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}
h3 {
  font-size: 2.063rem;
  font-weight: 300;
}
nav {
  font-size: 1.313rem;
  font-weight: 400;
  display: inline-block;
}
p {
  font-size: 1.125rem;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
strong {
  font-weight: 700;
  color: inherit;
}
.nav__shop-now {
  color: #5bacc3;
}
header {
  display: flex;
  justify-content: space-between;
}
