header,
footer {
  background-color: #fff0ed;
}
footer {
  padding-bottom: 4rem;
}
.nav__link {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.nav__nitro {
  display: inline;
  margin: 0rem auto;
}
.nav__section {
  display: inline-block;
}
.hero {
  background-color: #fff0ed;
  column-count: 2;
  column-gap: 25vw;
}
.hero__title {
  margin: 0;
}
.hero__text {
  display: inline-block;
  margin-left: 6rem;
  margin-top: 30%;
}
button {
  background-color: #5bacc3;
  color: #fff;
  border-radius: 0;
  border-width: 0;
  font-size: 1.125rem;
}
.products {
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.products__title {
  margin-top: 0;
}
.products__card {
  display: inline-block;
  border-radius: 0.625rem;
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  box-shadow: 0 0.313rem 0.563rem 0.063rem rgba(0, 0, 0, 0.25);
  margin: 1.25rem;
}
.products__card__image {
  min-height: 15rem;
  max-height: 34.375rem;
  margin: 1.25rem auto;
}
.products__card__price {
  color: #5bacc3;
}
.button__shop {
  padding: 0.625rem 1.5rem;
}
.view-button {
  display: block;
  margin: 2rem auto;
}
.discount {
  font-size: 2.813rem;
  color: #fff;
  text-align: center;
  background-color: #393939;
  min-width: fit-content;
  max-width: 90%;
  padding: 2rem;
  margin: 8rem auto;
}
.footer__info {
  display: inline-block;
  padding: 2rem 4rem;
}
.footer__info__clause {
  margin: 0;
}
.icon {
  min-width: 3.125rem;
  max-width: 7.5rem;
}
