header, footer > section {
    background-color:#FFF0ED;
}
.hero {
    background-color:#FFF0ED;
}
button {
    background-color:#5BACC3;
    color: #FFF;
    border-radius: 0;
    border-width: 0;
}
.discount {
    font-size: 45px;
    color:#FFF;
    text-align: center;
    background-color: #393939;
    min-width: fit-content;
    max-width: 90%;
    margin-top:0px;
}
.icon {
    min-width: 50px;
    max-width: 120px;
}