
.nitro {
    color:#393939;
    text-decoration: none;
}
.menuheader {
    background-image:url("../assets/coffee-circle.jpg");
    width: 100%;
    min-height: 575px;
    max-height: 600px;
    background-position: center;
    background-size: cover;
}
h1 {
    background-color:#393939;
    min-width: 280px;
    max-width:300px;
    min-height: 180px;
    max-height: 200px;
    color:#FFF;
    text-align: center;
}
.menunav {
    background-color:#393939;
    text-align: center;
    width: 100%;
}
.menunav a {
    color:#FFF;
    text-decoration: none;
}
.odd {
    background-color:#FFF0ED;
}
.even {
    background-color:#F7F7F7;
}
.menusection {
    text-align: center;
}
.description {
    font-style: italic;
}
.column {
    width: 40%;
}

