
.nitro {
    color:#393939;
    text-decoration: none;
}
.menuheader {
    background-image:url("../assets/coffee-circle.jpg");
    width: 100%;
    min-height: 35.938rem;
    max-height: 37.5rem;
    background-position: center;
    background-size: cover;
}
h1 {
    background-color:#393939;
    min-width: 17.5rem;
    max-width:18.75rem;
    min-height: 11.25rem;
    max-height: 12.5rem;
    color:#FFF;
    text-align: center;
}
.menunav {
    background-color:#393939;
    text-align: center;
    width: 100%;
}
.menunav > ul > li > a {
    color:#FFF !important;
    text-decoration: none;
}
.odd {
    background-color:#FFF0ED;
}
.even {
    background-color:#F7F7F7;
}
.menusection {
    text-align: center;
}
.description {
    font-style: italic;
}
.column {
    width: 40%;
}

